@use '../../../../styles/mixins/forms';
@use '../../../../styles/mixins/screen-reader';

.checkbox {
  align-items: center;
  cursor: pointer;
  width: 100%;

  + .checkbox {
    margin-top: var(--evg-spacing-sm);
  }

  &__input {
    @include screen-reader.sr-only;
  }

  &__indicator {
    @include forms.indicator;
    align-self: flex-start;
    border-radius: var(--evg-radius-xs);

    .checkbox--checked & {
      background: currentColor;
    }
  }

  &__check {
    opacity: 0;
    transform: scale(0.9);
    transition:
      opacity var(--evg-transition),
      transform var(--evg-transition-duration-boing)
        var(--evg-transition-timing-boing);

    .checkbox--checked & {
      color: var(--evg-color-white);
      opacity: 1;
      transform: none;
    }
  }

  &--type-default {
    display: flex;

    .checkbox__indicator {
      &:hover,
      &:focus-within {
        border-color: var(--evg-input-border-hover);
      }

      &:focus-within {
        background: var(--evg-input-background-focus);
      }
    }

    &.checkbox--invalid .checkbox__indicator {
      border-color: var(--evg-color-negative);
    }

    &.checkbox--disabled {
      background: transparent;
    }
  }

  &--type-input {
    @include forms.input;
    @include forms.input-padding;
    border-radius: var(--evg-input-checkradio-border-radius);
  }

  &--type-list {
    background: var(--evg-color-white);
    border-radius: 0;

    + .checkbox {
      margin-top: -1px;
    }

    &:hover,
    &:focus-within {
      z-index: 1;
    }
  }

  &--checked {
    @include forms.checked;
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
