@use '../../variables/color';
@use '../../mixins/skin';

// Create the skins globally
$skins: light, medium, dark, accent, neutral, positive, negative, attention;

@include skin.create-skins($skins);

:root {
  --skin-background-light: #{color.$white};
  --skin-background-muted-light: #{color.$harp};
  --skin-border-color-light: #{color.$blue-light};
  --skin-color-light: #{color.$blue-darkest};
  --skin-heading-color-light: #{color.$blue-darkest};
  --skin-link-color-light: #{color.$blue-darkest};
  --skin-link-text-decoration-light: underline;

  --skin-background-medium: #{color.$duck-egg};
  --skin-background-muted-medium: #{color.$duck-egg};
  --skin-border-color-medium: transparent;
  --skin-color-medium: #{color.$blue-darkest};
  --skin-heading-color-medium: #{color.$blue-darkest};
  --skin-link-color-medium: #{color.$blue-darkest};

  --skin-background-accent: #{color.$citrus};
  --skin-background-muted-accent: #{color.$citrus};
  --skin-border-color-accent: transparent;
  --skin-color-accent: #{color.$blue-darkest};
  --skin-heading-color-accent: #{color.$blue-darkest};
  --skin-link-color-accent: #{color.$blue-darkest};

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;

  --link-font-weight: 700;

  --button-border-radius: 1.5rem;
  --button-border-width: 2px;

  --button-background: #{color.$white};
  --button-border-color: #{color.$blue-darkest};
  --button-color: #{color.$blue-darkest};

  --button-background-primary: #{color.$citrus};
  --button-border-color-primary: transparent;
  --button-color-primary: #{color.$blue-darkest};

  --button-background-secondary: #{color.$blue-darkest};
  --button-border-color-secondary: transparent;
  --button-color-secondary: #{color.$white};

  --input-background: #{color.$white};
  --input-background-focus: #{color.$white};
  --input-border: #{color.$duck-egg};
  --input-border-hover: #{color.$duck-egg};
  --input-color: #{color.$blue-darkest};
}
