@use '~@wrap.ngo/tokens/dist/breakpoint';
@use '../../../../styles/mixins/loading';
@use '../../../../styles/mixins/button';

.loading-button {
  @include button.base;
  @include loading.pulse;

  &__text {
    visibility: hidden;
  }

  &--small {
    min-height: 2.25rem;
    min-width: 5.5rem;
    padding: calc(var(--evg-spacing-xs) - var(--evg-button-border-width))
      var(--evg-spacing-sm);
  }

  &--block {
    display: block;
    width: 100%;

    &-mobile {
      display: block;
      width: 100%;

      @media (min-width: breakpoint.$evg-breakpoint-md) {
        display: inline-block;
        width: auto;
      }
    }
  }
}
