@use '../../../styles/variables/breakpoint';

.menubar {
  background: var(--theme-background);

  @media (min-width: breakpoint.$tablet) {
    align-items: center;
    display: grid;
    grid-template-columns: 10rem auto 10rem;
  }

  &__inner {
    grid-column-start: 2;
    margin: 0 auto;
    max-width: breakpoint.$xl; // Same as <Container>
    width: 100%;

    @media (min-width: breakpoint.$tablet) {
      padding: 0 var(--spacing-md);
    }
  }

  &__tabs {
    display: flex;
    margin: 0;
    padding: 0;

    @media (min-width: breakpoint.$tablet) {
      justify-content: center;
    }
  }

  &__tab {
    --tab-background: var(--theme-background);
    --tab-highlight-color: var(--theme-color);
    --tab-highlight-width: 4px;

    display: block;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    min-width: 25%;
    position: relative;

    a {
      color: var(--theme-background-muted-dark);
      text-decoration: none;
      transition: background var(--transition) color var(--transition);

      &:hover,
      &:focus {
        color: var(--theme-color);
      }

      &:focus {
        outline: none;
      }
    }

    &-inner {
      &::before {
        background: var(--tab-highlight-color);
        content: '';
        display: block;
        height: var(--tab-highlight-width);
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity var(--transition) height var(--transition);
        width: 100%;
      }

      align-items: center;
      color: var(--theme-background-muted-dark);
      display: flex;
      justify-content: center;
      min-height: var(--spacing-thumb);
      padding: var(--spacing-md);
      text-align: center;
    }

    &--active &-inner {
      &::before {
        opacity: 1;
      }

      background: var(--input-background-disabled);
      color: var(--color-body);

      a {
        color: var(--color-body);
      }
    }

    &--completed &-inner {
      &::before {
        --tab-highlight-color: var(--color-positive);
        opacity: 1;
      }
    }

    &-inner:focus-within::before {
      --tab-highlight-color: var(--input-border-hover);
      opacity: 1;
    }

    &--disabled &-inner {
      color: var(--button-color-disabled);
    }
  }

  &__back {
    a {
      display: block;
      min-height: var(--spacing-thumb);
      padding: var(--spacing-md);
      text-decoration: none;
    }
  }
}
