.card {
  --card-border-color: var(--mobius-skin-border-color);

  background: var(--mobius-skin-background);
  border: 1px solid transparent;
  border-radius: var(--card-border-radius);
  color: var(--mobius-skin-color);
  display: block;
  transition:
    background-color var(--mobius-transition),
    color var(--mobius-transition),
    border-color var(--mobius-transition);
  width: 100%;

  &__arrow {
    float: right;
    font-size: var(--mobius-font-size-xl);
    padding: var(--mobius-spacing-md);
  }

  &__header {
    border-bottom: 1px solid transparent;
    padding: var(--mobius-spacing-md);
    transition: border-color var(--mobius-transition);

    // when there's a card with only a header
    &:last-child {
      border-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
  }

  &__body {
    &--padded {
      padding: var(--mobius-spacing-md);
    }

    &--border {
      border-top: 1px solid var(--card-border-color);
    }

    &--hidden {
      display: none;
    }
  }

  &--border {
    border-color: var(--card-border-color);

    .card__header {
      border-bottom-color: var(--card-border-color);
    }

    .card__body:not(.card__body--hidden) + .card__body {
      border-top: 1px solid var(--card-border-color);
    }
  }

  &--clickable {
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      border-color: var(--mobius-input-border-hover);
      text-decoration: none;
    }

    &:focus {
      border-color: var(--mobius-input-border-focus);
      outline: none;
    }
  }

  &--shadow {
    box-shadow: var(--mobius-shadow);
  }

  &--control {
    background: var(--mobius-input-background);
    border: 1px solid var(--mobius-input-border);
    border-radius: var(--mobius-input-border-radius);
  }

  &--disabled {
    background: var(--mobius-skin-background-muted);
    pointer-events: none;
  }

  &--muted,
  &__body--muted {
    --card-border-color: var(--mobius-skin-border-color-muted);
    background: var(--mobius-skin-background-muted);
  }

  &:has(.card__body--muted) {
    display: flex;
    flex-direction: column;
  }

  &__body--muted {
    flex: 1;
  }
}
