@use '../../../styles/variables/color';
@use '../../../styles/variables/font';
@use '../../../styles/variables/spacing';
@use '../../../styles/variables/transition';
@use '../../../styles/variables/input';
@use '../../../styles/variables/skin';

.card {
  background: skin.$background;
  border: 1px solid transparent;
  border-radius: var(--card-border-radius, 0);
  color: skin.$color;
  display: block;
  transition: background-color transition.$duration transition.$timing,
    color transition.$duration transition.$timing,
    border-color transition.$duration transition.$timing;
  width: 100%;

  &__arrow {
    color: skin.$link-color;
    float: right;
    font-size: font.$size-xl;
    padding: spacing.$md;
  }

  &__header {
    border-bottom: 1px solid transparent;
    padding: spacing.$md;
    transition: border-color transition.$duration transition.$timing;

    // when there's a card with only a header
    &:last-child {
      border-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
  }

  &__body {
    &--padded {
      padding: spacing.$md;
    }

    &--border {
      border-top: 1px solid skin.$border-color;
    }

    &--hidden {
      display: none;
    }
  }

  &--border {
    border-color: skin.$border-color;

    .card__header {
      border-bottom-color: skin.$border-color;
    }

    .card__body:not(.card__body--hidden) + .card__body {
      border-top: 1px solid skin.$border-color;
    }
  }

  &--clickable {
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      border-color: skin.$link-color;
      text-decoration: none;
    }
  }

  &--shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &--control {
    background: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: input.$border-radius;
  }

  &--disabled {
    background: skin.$background-muted;
    pointer-events: none;
  }

  &--muted {
    background: skin.$background-muted;
  }
}
