evg-card-img {
  display: block;
  grid-area: image;
  padding: var(--evg-card-img-padding);

  img,
  evg-loading-img {
    border-radius: var(--evg-card-img-radius);
    display: block;
    height: var(--evg-card-img-height);
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}
