.stream-dot {
  background: var(--mobius-color-no-stream);
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  line-height: 1;
  position: relative;
  top: 0.125em;
  width: 1em;

  &--dry {
    background: var(--mobius-color-dry-stream);
  }

  &--residual {
    background: var(--mobius-color-residual-stream);
  }

  &--food {
    background: var(--mobius-color-food-stream);
  }

  &--garden {
    background: var(--mobius-color-garden-stream);
  }

  &--organic {
    background: var(--mobius-color-organic-stream);
  }
}
