.stream-dot {
  background: var(--evg-stream-none);
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  line-height: 1;
  position: relative;
  top: 0.125em;
  width: 1em;

  &--dry {
    background: var(--evg-stream-dry);
  }

  &--residual {
    background: var(--evg-stream-residual);
  }

  &--food {
    background: var(--evg-stream-food);
  }

  &--garden {
    background: var(--evg-stream-garden);
  }

  &--organic {
    background: var(--evg-stream-organic);
  }
}
