.help-text {
  color: var(--color-body);
  font-size: var(--font-size-sm);
  padding-top: var(--spacing-sm);

  &--positive {
    color: var(--color-positive);
  }

  &--negative {
    color: var(--color-negative);
  }
}
