@use '../../../styles/variables/color';
@use '../../../styles/variables/font';

.help-text {
  color: color.$blue-dark;
  font-size: font.$size-sm;
  padding-top: var(--mobius-spacing-sm);

  &--positive {
    color: color.$positive;
  }

  &--negative {
    color: color.$negative;
  }
}
