evg-help-text {
  --_background-color: var(--evg-sentiment-neutral-lightest);

  background-color: var(--_background-color);
  color: var(--evg-color-forest);
  display: block;
  font-size: var(--evg-font-size-body-sm);
  padding: var(--evg-spacing-sm) var(--evg-spacing-md);

  @each $variant in postive, negative, neutral {
    &[variant='#{$variant}'] {
      --_background-color: var(--evg-sentiment-#{$variant}-light);
    }
  }

  &[inline] {
    display: inline;
  }
}
