evg-help-text {
  --_background-color: var(--evg-state-neutral-light);

  background-color: var(--_background-color);
  color: var(--evg-color-forest);
  display: block;
  font-size: var(--evg-font-size-body-sm);
  padding: var(--evg-spacing-sm) var(--evg-spacing-md);

  &[type='positive'] {
    --_background-color: var(--evg-state-positive-light);
  }

  &[type='negative'] {
    --_background-color: var(--evg-state-negative-light);
  }

  &[inline] {
    display: inline;
  }
}
