.help-text {
  background-color: var(--mobius-color-neutral-light);
  color: var(--mobius-color-body);
  font-size: var(--mobius-font-size-sm);
  margin-top: var(--mobius-spacing-sm);
  padding: var(--mobius-spacing-sm) var(--mobius-spacing-md);

  &--positive {
    background: var(--mobius-color-positive-light);
  }

  &--negative {
    background: var(--mobius-color-negative-light);
  }
}
