.container {
  align-items: center;
  background: var(--evg-color-white);
  display: flex;

  &__image {
    margin-right: var(--evg-spacing-md);
    padding: var(--evg-spacing-md);
    width: calc(4em + var(--evg-spacing-md) * 2);

    svg {
      display: block;
      height: 4em;
      margin: auto;
      width: auto;
    }
  }

  &__title {
    font-family: var(--evg-font-family);
    font-size: var(--evg-font-size-base);
    text-transform: none;
  }
}
