@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-SemiboldItalic-Web.woff2') format('woff2'),
    url('MarrSansCondensed-SemiboldItalic-Web.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

.MarrSansCondensed-SemiboldItalic-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 600;
  font-style: italic;
}
