@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-Regular-Web.woff2') format('woff2'),
    url('MarrSansCondensed-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.MarrSansCondensed-Regular-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 400;
  font-style: normal;
}
