@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-Bold-Web.woff2') format('woff2'),
    url('MarrSansCondensed-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.MarrSansCondensed-Bold-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 700;
  font-style: normal;
}
