@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-Medium-Web.woff2') format('woff2'),
    url('MarrSansCondensed-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

.MarrSansCondensed-Medium-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 500;
  font-style: normal;
}
