@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-LightItalic-Web.woff2') format('woff2'),
    url('MarrSansCondensed-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

.MarrSansCondensed-LightItalic-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 300;
  font-style: italic;
}
