@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-RegularItalic-Web.woff2') format('woff2'),
    url('MarrSansCondensed-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

.MarrSansCondensed-RegularItalic-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 400;
  font-style: italic;
}
