@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-ThinItalic-Web.woff2') format('woff2'),
    url('MarrSansCondensed-ThinItalic-Web.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

.MarrSansCondensed-ThinItalic-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 100;
  font-style: italic;
}
