@font-face {
  font-family: 'Marr Sans Cond Web';
  src:
    url('MarrSansCondensed-BoldItalic-Web.woff2') format('woff2'),
    url('MarrSansCondensed-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

.MarrSansCondensed-BoldItalic-Web {
  font-family: 'Marr Sans Cond Web';
  font-weight: 700;
  font-style: italic;
}
