@use '../../../styles//variables/spacing';
@use '../../../styles/mixins/list';

.list {
  @include list.default;

  &__item {
    @include list.item;
  }

  &--spacing {
    &-none {
      --list-spacing: 0;
    }

    &-xs {
      --list-spacing: #{spacing.$xs};
    }

    &-sm {
      --list-spacing: #{spacing.$sm};
    }

    &-md {
      --list-spacing: #{spacing.$md};
    }

    &-lg {
      --list-spacing: #{spacing.$lg};
    }

    &-xl {
      --list-spacing: #{spacing.$xl};
    }
  }
}
