@use '../../../styles/mixins/list';

.list {
  @include list.default;

  &__item {
    @include list.item;
  }

  &--spacing {
    &-none {
      --list-spacing: 0;
    }

    &-xs {
      --list-spacing: var(--spacing-xs);
    }

    &-sm {
      --list-spacing: var(--spacing-sm);
    }

    &-md {
      --list-spacing: var(--spacing-md);
    }

    &-lg {
      --list-spacing: var(--spacing-lg);
    }

    &-xl {
      --list-spacing: var(--spacing-xl);
    }
  }
}
