@use '../../../styles/variables/color';

.container {
  align-items: center;
  background: color.$white;
  display: flex;

  &__image {
    margin-right: var(--mobius-spacing-md);
    padding: var(--mobius-spacing-md);
    width: calc(4em + var(--mobius-spacing-md) * 2);

    svg {
      display: block;
      height: 4em;
      margin: auto;
      width: auto;
    }
  }

  &__title {
    font-size: 1rem;
  }
}
