.faq {
  background: var(--evg-skin-background-muted);
  border: 1px solid var(--evg-skin-border-color-muted);
  border-radius: var(--evg-radius-sm);
  transition:
    background-color var(--evg-transition),
    color var(--evg-transition),
    border-color var(--evg-transition);
  width: 100%;

  &--open {
    background: var(--evg-skin-background);
    border-color: var(--evg-skin-border-color);
    box-shadow: var(--evg-shadow);
  }

  &__content {
    padding-top: var(--evg-spacing-md);
  }

  &:hover {
    border-color: var(--evg-input-border-hover);
  }

  &:focus-within {
    border-color: var(--evg-input-border-focus);
  }
}
