.faq {
  background: var(--mobius-skin-background-muted);
  border: 1px solid var(--mobius-skin-border-color-muted);
  border-radius: var(--mobius-radius-sm);
  transition:
    background-color var(--mobius-transition),
    color var(--mobius-transition),
    border-color var(--mobius-transition);
  width: 100%;

  &--open {
    background: var(--mobius-skin-background);
    border-color: var(--mobius-skin-border-color);
    box-shadow: var(--mobius-shadow);
  }

  &__content {
    padding-top: var(--mobius-spacing-md);
  }

  &:hover {
    border-color: var(--mobius-input-border-hover);
  }

  &:focus-within {
    border-color: var(--mobius-input-border-focus);
  }
}
