@use '../../../styles/variables/font';
@use '../../../styles/variables/color';

.text {
  &--display {
    &-block {
      display: block;
    }

    &-inline-block {
      display: inline-block;
    }

    &-inline {
      display: inline;
    }
  }

  &--align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--flush {
    margin: 0;
    padding: 0;
  }

  &--weight {
    @each $name, $weight in font.$weights {
      &-#{$name} {
        font-weight: $weight;
      }
    }
  }

  &--size {
    @each $name, $size in font.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }

  &--color {
    @each $name, $color in color.$colors {
      &-#{$name} {
        color: $color;
      }
    }
  }
}
