evg-drawer {
  display: block;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;

  dialog {
    background: transparent;
    border: 0 none;
    bottom: 0;
    box-shadow: var(--evg-shadow);
    content-visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: auto;
    margin: 0;
    max-height: 100%;
    max-width: 25rem;
    opacity: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition:
      content-visibility var(--evg-transition-enter) allow-discrete,
      opacity var(--evg-transition-enter),
      display var(--evg-transition-enter) allow-discrete,
      overlay var(--evg-transition-enter) allow-discrete,
      transform var(--evg-transition-enter);
    width: 95vw;

    &::backdrop {
      background-color: var(--evg-color-forest);
      opacity: 0;
      transition:
        opacity var(--evg-transition-enter),
        display var(--evg-transition-enter) allow-discrete,
        overlay var(--evg-transition-enter) allow-discrete;
    }

    &[open] {
      content-visibility: visible;
      opacity: 1;
      pointer-events: auto;
      transform: none;
      transition-delay: calc(var(--evg-transition-duration-enter) * 0.5);
    }

    &[open]::backdrop {
      opacity: var(--evg-backdrop-opacity, 0.4);
    }

    > *:last-child {
      flex-grow: 1;
    }
  }

  @starting-style {
    dialog[open] {
      opacity: 0;
      transform: translateX(100%);
    }

    dialog[open]::backdrop {
      opacity: 0;
    }
  }
}
