.sticky {
  position: sticky;
  z-index: 1;

  &--large-screen-only {
    max-height: none;
    position: static;

    @media (width >= 600px) {
      position: sticky;
    }
  }

  @media (width > 1024px) {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
