@use '../../../styles/variables/color';
@use '../../../styles/variables/font';

$icon-size-giant: 3.5em;

.icon {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 1em;

  svg {
    display: block;
    height: 1em;
    width: 1em;
  }

  path {
    fill: currentColor;
  }

  @each $key, $color in color.$colors {
    &--#{$key} {
      color: $color;
    }
  }

  &--accent {
    color: color.$yellow;
  }

  &--baseline {
    svg {
      position: relative;
      top: -10%;
    }
  }

  @each $key, $size in font.$sizes {
    &--#{$key} {
      font-size: $size;
    }
  }

  &--giant {
    font-size: $icon-size-giant;
  }
}
