evg-alert {
  --_background: var(--evg-color-sky-75);
  --_color: var(--evg-color-forest);
  background: var(--_background);
  border-radius: var(--evg-radius-md);
  color: var(--_color);
  display: block;
  padding: var(--evg-spacing-md);

  &[variant='postive'] {
    --_background: var(--evg-color-lime);
  }

  &[variant='postive light'] {
    --_background: var(--evg-color-lime-50);
  }

  &[variant='negative'] {
    --_background: var(--evg-color-rose-50);
  }

  &[variant='negative light'] {
    --_background: var(--evg-color-rose-25);
  }

  &[variant='neutral'] {
    --_background: var(--evg-color-sky-75);
  }

  &[variant='neutral light'] {
    --_background: var(--evg-color-sky-25);
  }
}
