.alert {
  background: var(--skin-background);
  border-radius: var(--radius-md);
  color: var(--skin-color);
  padding: var(--spacing-md);

  &__close {
    background: none;
    border: 0 none;
    color: inherit;
    cursor: pointer;
    float: right;
  }
}
