evg-alert {
  --_background: var(--evg-sentiment-neutral);
  --_color: var(--evg-color-forest);
  background: var(--_background);
  border-radius: var(--evg-radius-md);
  color: var(--_color);
  display: block;
  padding: var(--evg-spacing-md);

  @each $variant in positive, positive-light, negative, negative-light, neutral,
    neutral-light
  {
    &[variant='#{$variant}'] {
      --_background: var(--evg-sentiment-#{$variant});
    }
  }
}
