@use '../../../styles/variables/spacing';

.alert {
  background: var(--skin-background);
  border-radius: 0.25em;
  color: var(--skin-color);
  padding: spacing.$md;

  &__close {
    background: none;
    border: 0 none;
    color: inherit;
    cursor: pointer;
    float: right;
  }
}
