@use '../mixins/theme';

/* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
$themes:
  default, sand, forest, forest-light, earth, earth-light, lime, lime-light,
  sky, sky-light;

.evg-theme {
  @each $theme in $themes {
    &-#{$theme} {
      @include theme.theme($theme);
    }
  }
}

// Special coal theme for the footer
.evg-theme-coal {
  --evg-theme-background: var(--evg-color-coal);
  --evg-theme-color: var(--evg-color-forest-25);
  --evg-theme-heading-color: var(--evg-color-forest-25);
  --evg-theme-link-color: var(--evg-color-forest-25);
}
