evg-header {
  align-items: center;
  background: var(--evg-theme-background);
  color: var(--evg-theme-color);
  display: flex;
  gap: var(--evg-spacing-lg);
  justify-content: space-between;
  padding: var(--evg-spacing-md);

  @media (width >= 1024px) {
    padding: var(--evg-spacing-lg);
  }

  nav {
    --evg-theme-link-color: var(--evg-theme-color);
    display: flex;
    gap: var(--evg-spacing-sm);
  }

  &[raised]:not([raised='false']) {
    border-radius: var(--evg-radius-lg);
    // TODO should this be a token?
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &[compact]:not([compact='false']) {
    padding: var(--evg-spacing-sm) var(--evg-spacing-md);
  }
}

evg-header-primary-nav {
  display: none;
  flex-grow: 1;
}

evg-header-secondary-nav {
  display: none;
}

@media (width >= 1280px) {
  evg-header-primary-nav,
  evg-header-secondary-nav {
    display: block;
  }

  evg-header-mobile-nav {
    display: none;
  }
}
