evg-header {
  align-items: center;
  background: var(--evg-theme-background);
  color: var(--evg-theme-color);
  display: flex;
  gap: var(--evg-spacing-lg);
  padding: var(--evg-spacing-lg);

  nav {
    --evg-theme-link-color: var(--evg-theme-color);
    display: flex;
    gap: var(--evg-spacing-sm);

    &:first-of-type {
      flex-grow: 1;
    }
  }

  &[raised]:not([raised='false']) {
    border-radius: var(--evg-radius-lg);
    // TODO should this be a token?
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &[compact]:not([compact='false']) {
    padding: var(--evg-spacing-sm) var(--evg-spacing-md);
  }
}
