// Set a default font path which works for dependants
$evg-font-path: '~@wrap.ngo/evergreen/src/assets/fonts' !default;

// Optional font import
@font-face {
  font-display: swap;
  font-family: 'Marr Sans Cond Web';
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$evg-font-path}/MarrSansCondensed-Regular-Web.woff') format('woff'),
    url('#{$evg-font-path}/MarrSansCondensed-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Marr Sans Cond Web';
  font-style: normal;
  font-weight: 700;
  src:
    url('#{$evg-font-path}/MarrSansCondensed-Bold-Web.woff') format('woff'),
    url('#{$evg-font-path}/MarrSansCondensed-Bold-Web.woff2') format('woff2');
}
