@use '~normalize.css/normalize';
@use '~@wrap.ngo/tokens/dist';

@use 'base/scaffolding';
@use 'base/typography';
@use 'base/forms';

@use 'utilities/longform';
@use 'utilities/spacing';
@use 'utilities/text';
@use 'utilities/theme';

@use '../components/composition/App/App';
@use '../components/composition/Grid/Grid';
@use '../components/composition/Grid/GridItem';
@use '../components/composition/Meta/Meta';
@use '../components/composition/Wrap/Wrap';

@use '../components/canvas/Box/Box';
@use '../components/canvas/Box/BoxSection';
@use '../components/canvas/Card/Card';
@use '../components/canvas/Card/CardContent';
@use '../components/canvas/Card/CardImg';
@use '../components/canvas/Section/Section';

@use '../components/control/Input/Input';
@use '../components/control/RadioCheckbox/RadioCheckbox';

@use '../components/content/Img/Img';

// Trial extra variables, will need moving to tokens
:root {
  --evg-input-outline-offset: 4px;
  --evg-input-padding-inline: var(--evg-input-padding-horizontal);
  --evg-input-padding-block: var(--evg-input-padding-vertical);
  --evg-input-font-size: var(--evg-font-size-16);
  --evg-input-line-height: 1.75;

  --evg-icon-size: 1.25em;
}
