.faq {
  background: var(--skin-background-muted);
  border: 1px solid var(--skin-border-color-muted);
  border-radius: var(--radius-sm);
  transition:
    background-color var(--transition),
    color var(--transition),
    border-color var(--transition);
  width: 100%;

  &--open {
    background: var(--skin-background);
    border-color: var(--skin-border-color);
    box-shadow: var(--shadow);
  }

  &__content {
    padding-top: var(--spacing-md);
  }

  &:hover {
    border-color: var(--input-border-hover);
  }

  &:focus-within {
    border-color: var(--input-border-focus);
  }
}
