evg-label {
  align-items: center;
  color: var(--evg-theme-color);
  display: flex;
  font-weight: var(--evg-font-weight-bold);
  min-height: var(--evg-spacing-thumb);

  &[variant='secondary'] {
    align-items: flex-start;
    font-weight: normal;
    min-height: var(--evg-spacing-lg);
  }
}
