@use '../../../styles/variables/color';

.bar-stack {
  --bar-stack-border-radius: var(--radius-sm);
  --bar-stack-item-height: 1.5rem;
  --bar-stack-background: var(--mobius-color-forest-25);

  background: var(--bar-stack-background);
  border-radius: var(--bar-stack-border-radius);
  display: flex;
  overflow: hidden;
  width: 100%;

  &__item {
    height: var(--bar-stack-item-height);

    &:last-child {
      border-bottom-right-radius: var(--bar-stack-border-radius);
      border-top-right-radius: var(--bar-stack-border-radius);
    }

    &--color {
      @each $name, $color in color.$colors {
        &-#{$name} {
          background: $color;
        }
      }
    }
  }
}
