@use '../../../../styles/mixins/forms';

.select {
  --select-border-color: var(--evg-input-border);

  @include forms.input;
  cursor: pointer;

  &__select {
    @include forms.ninja-input;
    @include forms.input-padding;
    max-width: 100%;
    overflow: hidden;
    padding-right: calc(
      var(--evg-spacing-thumb) + var(--evg-input-padding-horizontal)
    );
    text-overflow: ellipsis;

    &[disabled] {
      opacity: 1;
    }
  }

  &__affix {
    align-items: center;
    border-left: 1px solid var(--select-border-color);
    border-radius: 0 var(--evg-input-border-radius)
      var(--evg-input-border-radius) 0;
    bottom: 0;
    display: flex;
    font-size: var(--evg-font-size-xl);
    justify-content: center;
    min-width: var(--evg-spacing-thumb);
    padding: 0 var(--evg-spacing-sm);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-color var(--evg-transition);
  }

  &--disabled {
    @include forms.input-disabled;
  }

  &--valid {
    --select-border-color: var(--evg-color-positive);
  }

  &--invalid {
    --select-border-color: var(--evg-color-negative);
  }

  &:hover {
    --select-border-color: var(--evg-input-border-hover);
  }

  &:focus-within {
    --evg-input-outline-offset-focus: 1px;
    --select-border-color: var(--evg-input-border-focus);
  }
}
