docs-placeholder {
  background: var(--evg-color-sand-25);
  background-clip: padding-box;
  border: 2px dashed var(--evg-color-sand);
  color: var(--evg-color-forest);
  display: block;
  padding: var(--evg-spacing-md);

  &[inline] {
    display: inline-block;
    padding: 0 var(--evg-spacing-xs);
  }
}
