docs-placeholder {
  background: var(--evg-skin-background-muted-light);
  border: 2px dashed var(--evg-skin-border-color-muted-light);
  color: var(--evg-skin-color-muted-light);
  display: block;
  padding: var(--evg-spacing-md);
}
