docs-placeholder {
  background: var(--mobius-skin-background-muted-light);
  border: 2px dashed var(--mobius-skin-border-color-muted-light);
  color: var(--mobius-skin-color-muted-light);
  display: block;
  padding: var(--mobius-spacing-md);
}
