@use '../../../styles/variables/input';
@use '../../../styles/mixins/forms';
@use '../../../styles/mixins/screen-reader';
@use '../../../styles/variables/color';

$radio-dot-size: 12px; // This has to be px to avoid sub-px rendering issues

.radio {
  @include forms.input;
  @include forms.input-padding;
  border-radius: input.$checkradio-border-radius;
  cursor: pointer;

  &--checked {
    @include forms.checked;
  }

  &--disabled {
    @include forms.input-disabled;
  }

  &--valid {
    border-color: var(--input-border);
  }

  &--valid.radio--checked {
    border-color: color.$positive;
  }

  &__input {
    @include screen-reader.sr-only;
  }

  &__indicator {
    @include forms.indicator;
    border-radius: 100%;
  }

  &__dot {
    background: currentColor;
    border-radius: 100%;
    display: block;
    height: $radio-dot-size;
    opacity: 0;
    transform: scale(0.8);
    transition:
      opacity var(--mobius-transition),
      transform var(--mobius-transition-duration-boing)
        var(--mobius-transition-timing-boing);
    width: $radio-dot-size;

    .radio--checked & {
      opacity: 1;
      transform: none;
    }
  }
}
