@use 'sass:math';
@use '../../../styles/variables/font';
@use '../../../styles/variables/breakpoint';
@use '../../../styles/mixins/screen-reader';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in-scale {
  from {
    opacity: 0;
    transform: scale(0.975);
  }
}

.modal {
  display: flex;
  z-index: 9; // sit in front of most stuff, but not global alerts

  &[aria-hidden='true'] {
    display: none;
  }

  &,
  &__overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__overlay {
    animation: fade-in var(--transition-duration) both var(--transition-timing);
    background-color: var(--color-background);
    opacity: 0.65;
  }

  &__dialog {
    animation: fade-in-scale var(--transition-duration)
      math.div(var(--transition-duration), 2) both var(--transition-timing);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-height: 100vh;
    max-width: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 9;

    @each $key, $bp in breakpoint.$map {
      &--size-#{$key} {
        width: $bp;
      }
    }

    &--auto {
      width: auto;
    }
  }

  &__title {
    @include screen-reader.sr-only;
  }

  &__inner {
    padding: var(--spacing-fluid-sm) var(--spacing-fluid-sm);
  }
}
