@use '../../../styles/variables/font';

.text-button {
  appearance: none;
  background: none;
  border: 0 none;
  border-radius: var(--radius-sm);
  color: var(--theme-link-color);
  cursor: pointer;
  padding: var(--spacing-sm) 0;
  transition:
    opacity var(--transition),
    color var(--transition);

  &[disabled] {
    color: var(--button-color-disabled);
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &__icon {
    &--left {
      margin-right: var(--spacing-xs);
    }

    &--right {
      margin-left: var(--spacing-xs);
    }
  }

  &--size-sm {
    font-size: var(--font-size-sm);
  }

  &--decorate {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      background: var(--theme-border-color);
      text-decoration: none;
    }
  }

  &--weight {
    @each $name, $weight in font.$weights {
      &-#{$name} {
        font-weight: $weight;
      }
    }
  }
}
