@use 'sass:math';
@use '../../../styles/variables/font';
@use '../../../styles/variables/input';
@use '../../../styles/variables/spacing';
@use '../../../styles/variables/color';
@use '../../../styles/mixins/forms';

.date-picker {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #00f;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);

  @include forms.input;

  &__icon {
    align-self: center;
    background: none;
    border: 0 none;
    color: color.$blue-dark;
    cursor: pointer;
    font-size: font.$size-xl;
    line-height: 1;
    margin-right: -(math.div(input.$padding-horizontal, 2));
    padding: 0 0 0 math.div(input.$padding-horizontal, 2);

    &:focus {
      outline: none;
    }
  }

  &__input {
    @include forms.ninja-input;
    @include forms.input-padding;
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
