@use '../../../styles/mixins/forms';

.date-picker {
  @include forms.input;

  &__button {
    background: var(--mobius-input-background);
    border: 0 none;
    border-bottom-left-radius: var(--mobius-input-border-radius);
    border-right: 1px solid var(--mobius-input-border);
    border-top-left-radius: var(--mobius-input-border-radius);
    color: var(--mobius-input-color);
    cursor: pointer;
    font-size: var(--mobius-font-size-xl);
    line-height: 1.75;
    padding: 0 calc(var(--mobius-input-padding-horizontal) / 2) 0
      calc(var(--mobius-input-padding-horizontal) / 2);
    transition:
      background var(--mobius-transition),
      border-color var(--mobius-transition);

    &:hover,
    &:focus {
      background: var(--mobius-input-background-focus);
      border-color: var(--mobius-input-border-hover);
    }
  }

  &__input {
    @include forms.ninja-input;
    @include forms.input-padding;
  }

  &__popper {
    z-index: 1;
  }

  &__daypicker {
    --rdp-cell-size: 2rem;
    --rdp-accent-color: var(--mobius-color-link);
    --rdp-background-color: var(--mobius-input-border-hover); // hover color
    --rdp-outline: 2px solid var(--rdp-accent-color);

    background: var(--mobius-color-white);
    border: 1px solid var(--mobius-input-border);
    border-radius: var(--mobius-input-border-radius);
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    margin-top: var(--mobius-spacing-sm);
    padding: var(--mobius-spacing-md);

    &-caption {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 var(--mobius-spacing-sm) var(--mobius-spacing-sm);
      text-align: left;
    }

    &-caption-label {
      color: var(--mobius-color-link);
      font-size: var(--mobius-font-size-sm);
      font-weight: var(--mobius-font-weight-bold);
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    &-head-cell {
      color: var(--mobius-color-body);
      font-size: var(--mobius-font-size-sm);
      font-weight: var(--mobius-font-weight-base);
      height: var(--rdp-cell-size);
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }

    &-cell {
      padding: var(--mobius-spacing-xs) var(--mobius-spacing-xs);
    }

    &-day {
      border-radius: var(--mobius-input-border-radius);
      color: var(--mobius-color-body);
      font-size: var(--mobius-font-size-sm);
      height: var(--rdp-cell-size);
      text-align: center;
      transition: background var(--mobius-transition);
      width: var(--rdp-cell-size);

      &:focus {
        outline: var(--rdp-outline);
      }
    }

    &-day-selected {
      &,
      &:hover,
      &:focus {
        background: var(--mobius-color-neutral-light) !important;
      }
    }

    &-nav-button {
      align-items: center;
      border-radius: var(--mobius-input-border-radius);
      color: var(--mobius-color-body);
      display: inline-flex;
      height: 1.65rem;
      justify-content: center;
      padding: var(--mobius-spacing-xs) var(--mobius-spacing-xs);
      width: 1.65rem;

      &:focus {
        outline: var(--rdp-outline);
      }
    }

    &-dropdown-month {
      align-items: center;
      display: inline-flex;
      margin-right: var(--mobius-spacing-md);
      position: relative;
    }

    &-dropdown-icon {
      color: var(--mobius-color-body);
      height: var(--mobius-font-size-sm);
      margin: -1px 0 0 var(--mobius-spacing-xs);
      width: var(--mobius-font-size-sm);
    }
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
