@use 'sass:math';
@use '../../../styles/variables/color';
@use '../../../styles/variables/spacing';
@use '../../../styles/variables/breakpoint';
@use '../../../styles/variables/transition';

.form-group {
  &__label {
    column-gap: spacing.$sm;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr auto;
  }

  &__info {
    content-visibility: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows transition.$duration transition.$timing,
      content-visibility transition.$duration transition.$timing;
    /* stylelint-disable-next-line property-no-unknown */
    transition-behavior: allow-discrete;

    &--open {
      content-visibility: visible;
      grid-template-rows: 1fr;
    }

    &-inner {
      margin-block-start: 0;
      overflow: hidden;
      transition: margin-block-start transition.$duration transition.$timing;

      &--open {
        margin-block-start: spacing.$md;
      }
    }
  }

  &__fieldset {
    display: contents;
  }

  &--horizontal {
    @media (min-width: breakpoint.$tablet) {
      column-gap: spacing.$md;
      display: grid;
      grid-template-columns: 1fr 1fr;

      :nth-child(n + 3) {
        // After the label and control everything else can be full width
        grid-column-end: span 2;
      }
    }
  }
}
