@use 'sass:math';
@use '../../../styles/variables/color';
@use '../../../styles/variables/breakpoint';

.form-group {
  &__label {
    column-gap: var(--mobius-spacing-sm);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr auto;
  }

  &__info {
    content-visibility: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows var(--mobius-transition),
      content-visibility var(--mobius-transition);
    /* stylelint-disable-next-line property-no-unknown */
    transition-behavior: allow-discrete;

    &--open {
      content-visibility: visible;
      grid-template-rows: 1fr;
    }

    &-inner {
      margin-block-start: 0;
      overflow: hidden;
      transition: margin-block-start var(--mobius-transition);

      &--open {
        margin-block-start: var(--mobius-spacing-md);
      }
    }
  }

  &__fieldset {
    display: contents;
  }

  &--horizontal {
    @media (min-width: breakpoint.$tablet) {
      column-gap: var(--mobius-spacing-md);
      display: grid;
      grid-template-columns: 1fr 1fr;

      :nth-child(n + 3) {
        // After the label and control everything else can be full width
        grid-column-end: span 2;
      }
    }
  }
}
