.spacing {
  &--top {
    &-xs {
      margin-top: var(--spacing-xs);
    }

    &-sm {
      margin-top: var(--spacing-sm);
    }

    &-md {
      margin-top: var(--spacing-md);
    }

    &-lg {
      margin-top: var(--spacing-lg);
    }

    &-xl {
      margin-top: var(--spacing-xl);
    }

    &-fluid {
      margin-top: var(--spacing-fluid);
    }
  }

  &--left {
    &-xs {
      margin-left: var(--spacing-xs);
    }

    &-sm {
      margin-left: var(--spacing-sm);
    }

    &-md {
      margin-left: var(--spacing-md);
    }

    &-lg {
      margin-left: var(--spacing-lg);
    }

    &-xl {
      margin-left: var(--spacing-xl);
    }

    &-fluid {
      margin-left: var(--spacing-fluid);
    }
  }

  &--bottom {
    &-xs {
      margin-bottom: var(--spacing-xs);
    }

    &-sm {
      margin-bottom: var(--spacing-sm);
    }

    &-md {
      margin-bottom: var(--spacing-md);
    }

    &-lg {
      margin-bottom: var(--spacing-lg);
    }

    &-xl {
      margin-bottom: var(--spacing-xl);
    }

    &-fluid {
      margin-bottom: var(--spacing-fluid);
    }
  }

  &--right {
    &-xs {
      margin-right: var(--spacing-xs);
    }

    &-sm {
      margin-right: var(--spacing-sm);
    }

    &-md {
      margin-right: var(--spacing-md);
    }

    &-lg {
      margin-right: var(--spacing-lg);
    }

    &-xl {
      margin-right: var(--spacing-xl);
    }

    &-right {
      margin-left: var(--spacing-fluid);
    }
  }

  /* stylelint-disable max-nesting-depth */
  &--negative {
    &.spacing {
      &--top {
        &-xs {
          margin-top: calc(-1 * var(--spacing-xs));
        }

        &-sm {
          margin-top: calc(-1 * var(--spacing-sm));
        }

        &-md {
          margin-top: calc(-1 * var(--spacing-md));
        }

        &-lg {
          margin-top: calc(-1 * var(--spacing-lg));
        }

        &-xl {
          margin-top: calc(-1 * var(--spacing-xl));
        }

        &-fluid {
          margin-top: calc(-1 * var(--spacing-fluid));
        }
      }

      &--left {
        &-xs {
          margin-left: calc(-1 * var(--spacing-xs));
        }

        &-sm {
          margin-left: calc(-1 * var(--spacing-sm));
        }

        &-md {
          margin-left: calc(-1 * var(--spacing-md));
        }

        &-lg {
          margin-left: calc(-1 * var(--spacing-lg));
        }

        &-xl {
          margin-left: calc(-1 * var(--spacing-xl));
        }

        &-fluid {
          margin-left: calc(-1 * var(--spacing-fluid));
        }
      }

      &--bottom {
        &-xs {
          margin-bottom: calc(-1 * var(--spacing-xs));
        }

        &-sm {
          margin-bottom: calc(-1 * var(--spacing-sm));
        }

        &-md {
          margin-bottom: calc(-1 * var(--spacing-md));
        }

        &-lg {
          margin-bottom: calc(-1 * var(--spacing-lg));
        }

        &-xl {
          margin-bottom: calc(-1 * var(--spacing-xl));
        }

        &-fluid {
          margin-bottom: calc(-1 * var(--spacing-fluid));
        }
      }

      &--right {
        &-xs {
          margin-right: calc(-1 * var(--spacing-xs));
        }

        &-sm {
          margin-right: calc(-1 * var(--spacing-sm));
        }

        &-md {
          margin-right: calc(-1 * var(--spacing-md));
        }

        &-lg {
          margin-right: calc(-1 * var(--spacing-lg));
        }

        &-xl {
          margin-right: calc(-1 * var(--spacing-xl));
        }

        &-right {
          margin-left: calc(-1 * var(--spacing-fluid));
        }
      }
    }
  }
  /* stylelint-enable max-nesting-depth */
}
