.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &__content {
    background: var(--evg-color-white);
    box-shadow: var(--evg-shadow);
    left: auto;
    min-width: 8em;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-0.25em);
    transition:
      opacity var(--evg-transition),
      transform var(--evg-transition);
  }

  &--open {
    .dropdown__content {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }
}
