@use '../../../styles/variables/color.scss';
@use '../../../styles/variables/font.scss';
@use '../../../styles/mixins/forms';

.slider {
  &__input {
    height: 2rem;
    overflow: hidden;
    position: relative;

    &::after {
      background: color.$green;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.5rem;
      left: calc(
        100% * (var(--slider-value) - var(--slider-min)) /
          (var(--slider-max) - var(--slider-min))
      );
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(
        100% * (var(--slider-max) - var(--slider-value)) /
          (var(--slider-max) - var(--slider-min))
      );
    }
  }

  &__labels {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__label {
    flex: 0 0 auto;
    font-weight: font.$weight-bold;
    min-width: 0;
    padding: 0;
  }

  &__label-lower {
    color: color.$teal;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__label-upper {
    color: color.$green;
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
