@use '../../../styles/variables/color.scss';
@use '../../../styles/mixins/forms';

.slider {
  &__input {
    height: var(--mobius-spacing-thumb);
    overflow: hidden;
    position: relative;
  }

  &__track {
    border: 1px solid var(--mobius-input-color);
    border-radius: var(--mobius-radius-md);
    height: 1rem;
    position: absolute;
    top: calc((var(--mobius-spacing-thumb) - 1rem) / 2);

    &--upper {
      background: var(--mobius-color-lime);
      width: 100%;
    }

    &--lower {
      background: var(--mobius-color-forest-75);
      pointer-events: none;
      right: calc(
        100% * (var(--slider-max) - var(--slider-value)) /
          (var(--slider-max) - var(--slider-min))
      );
      width: calc(
        100% * (var(--slider-value) - var(--slider-min)) /
          (var(--slider-max) - var(--slider-min))
      );
    }
  }

  &__labels {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr auto;
  }

  &__label {
    display: block;
    font-weight: var(--mobius-font-weight-bold);
    min-width: 0;
    padding: 0;

    &--upper {
      justify-self: flex-end;
    }
  }

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;

    .slider {
      &__track {
        border-color: var(--mobius-color-forest-50);
      }

      &__track--lower {
        background: var(--mobius-color-forest-25);
      }

      &__track--upper {
        background: var(--mobius-color-lime-25);
      }
    }
  }
}
