@use '~@etchteam/mobius-tokens/dist/breakpoint';

$map: (
  xs: breakpoint.$mobius-breakpoint-xs,
  sm: breakpoint.$mobius-breakpoint-sm,
  md: breakpoint.$mobius-breakpoint-md,
  lg: breakpoint.$mobius-breakpoint-lg,
  xl: breakpoint.$mobius-breakpoint-xl,
  xxl: breakpoint.$mobius-breakpoint-xxl,
  xxxl: breakpoint.$mobius-breakpoint-xxxl,
  tablet: breakpoint.$mobius-breakpoint-tablet,
  desktop: breakpoint.$mobius-breakpoint-desktop,
  max: breakpoint.$mobius-breakpoint-max,
);
