$xs: 0;
$sm: 30rem; // 480
$md: 37.5rem; // 600
$lg: 48rem; // 768
$xl: 64rem; // 1024
$xxl: 80rem; // 1280
$xxxl: 90rem; // 1440
$tablet: $lg;
$desktop: $xl;
$max: 90rem; // 1440

$map: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  xxxl: $xxxl,
  tablet: $tablet,
  desktop: $desktop,
  max: $max,
);
