:root {
  --button-border-radius: var(--mobius-button-border-radius);
  --button-border-width: var(--mobius-button-border-width);

  $types: default, primary, secondary, positive, negative;

  @each $type in $types {
    --button-background-#{$type}: var(--mobius-button-background-#{$type});
    --button-border-color-#{$type}: var(--mobius-button-border-color-#{$type});
    --button-color-#{$type}: var(--mobius-button-color-#{$type});

    --button-background-hover-#{$type}: var(
      --mobius-button-background-hover-#{$type}
    );
    --button-border-color-hover-#{$type}: var(
      --mobius-button-border-color-hover-#{$type}
    );
    --button-color-hover-#{$type}: var(--mobius-button-color-hover-#{$type});

    --button-background-focus-#{$type}: var(
      --mobius-button-background-focus-#{$type}
    );
    --button-border-color-focus-#{$type}: var(
      --mobius-button-border-color-focus-#{$type}
    );
    --button-color-focus-#{$type}: var(--mobius-button-color-focus-#{$type});

    --button-background-disabled-#{$type}: var(
      --mobius-button-background-disabled-#{$type}
    );
    --button-border-color-disabled-#{$type}: var(
      --mobius-button-border-color-disabled-#{$type}
    );
    --button-color-disabled-#{$type}: var(
      --mobius-button-color-disabled-#{$type}
    );
  }

  --button-background: var(--mobius-button-background);
  --button-border-color: var(--mobius-button-border-color);
  --button-color: var(--mobius-button-color);

  --button-background-hover: var(--mobius-button-background-hover);
  --button-border-color-hover: var(--mobius-button-border-color-hover);
  --button-color-hover: var(--mobius-button-color-hover);

  --button-background-focus: var(--mobius-button-background-focus);
  --button-border-color-focus: var(--mobius-button-border-color-focus);
  --button-color-focus: var(--mobius-button-color-focus);

  --button-background-disabled: var(--mobius-button-background-disabled);
  --button-border-color-disabled: var(--mobius-button-border-color-disabled);
  --button-color-disabled: var(--mobius-button-color-disabled);
}
