$sizes: (
  'display-lg': (
    size: var(--evg-font-size-display-lg),
    line-height: var(--evg-font-line-height-xs),
  ),
  'display-md': (
    size: var(--evg-font-size-display-md),
    line-height: var(--evg-font-line-height-xs),
  ),
  'display-sm': (
    size: var(--evg-font-size-display-sm),
    line-height: var(--evg-font-line-height-xs),
  ),
  'heading-xl': (
    size: var(--evg-font-size-heading-xl),
    line-height: var(--evg-font-line-height-sm),
  ),
  'heading-lg': (
    size: var(--evg-font-size-heading-lg),
    line-height: var(--evg-font-line-height-sm),
  ),
  'heading-md': (
    size: var(--evg-font-size-heading-md),
    line-height: var(--evg-font-line-height-sm),
  ),
  'heading-sm': (
    size: var(--evg-font-size-heading-sm),
    line-height: var(--evg-font-line-height-sm),
  ),
  'heading-xs': (
    size: var(--evg-font-size-heading-xs),
    line-height: var(--evg-font-line-height-sm),
  ),
  'heading-xxs': (
    size: var(--evg-font-size-heading-xxs),
    line-height: var(--evg-font-line-height-sm),
  ),
  'body-xl': (
    size: var(--evg-font-size-body-xl),
    line-height: var(--evg-font-line-height),
  ),
  'body-lg': (
    size: var(--evg-font-size-body-lg),
    line-height: var(--evg-font-line-height),
  ),
  'body-md': (
    size: var(--evg-font-size-body-md),
    line-height: var(--evg-font-line-height),
  ),
  'body-sm': (
    size: var(--evg-font-size-body-sm),
    line-height: var(--evg-font-line-height),
  ),
  'body-xs': (
    size: var(--evg-font-size-body-xs),
    line-height: var(--evg-font-line-height),
  ),
);

$weights: (
  'base': var(--evg-font-weight-base),
  'light': var(--evg-font-weight-light),
  'bold': var(--evg-font-weight-bold),
  'black': var(--evg-font-weight-black),
);
