$family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$family-roboto: Roboto, Lato, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

$line-height: 1.25;
$line-height-sm: 1.125;
$line-height-lg: 1.5;

$size-base: 1rem; // 16px
$size-xs: 0.75em;
$size-sm: 0.875em;
$size-md: 1.125em;
$size-lg: 1.25em;
$size-xl: 1.5em;

$size-h1: 2.25em;
$size-h2: 1.5em;
$size-h3: 1.25em;
$size-h4: 1em;

$weight-base: 400;
$weight-light: 300;
$weight-bold: 700;
$weight-black: 800;
