:root {
  --font-family: var(--mobius-font-family);

  --font-line-height: var(--mobius-font-line-height);
  --font-line-height-sm: var(--mobius-font-line-height-sm);
  --font-line-height-lg: var(--mobius-font-line-height-lg);

  --font-size-base: var(--mobius-font-size-base);
  --font-size-xs: var(--mobius-font-size-xs);
  --font-size-sm: var(--mobius-font-size-sm);
  --font-size-md: var(--mobius-font-size-md);
  --font-size-lg: var(--mobius-font-size-lg);
  --font-size-xl: var(--mobius-font-size-xl);

  --font-size-h1: var(--mobius-font-size-h1);
  --font-size-h2: var(--mobius-font-size-h2);
  --font-size-h3: var(--mobius-font-size-h3);
  --font-size-h4: var(--mobius-font-size-h4);

  --font-weight-base: var(--mobius-font-weight-base);
  --font-weight-light: var(--mobius-font-weight-light);
  --font-weight-bold: var(--mobius-font-weight-bold);
  --font-weight-black: var(--mobius-font-weight-black);
}
