$background: var(--input-background);
$border: var(--input-border);
$border-hover: var(--input-border-hover);
$border-radius: 0.25em;

$color: var(--input-color);

$checked: var(--input-checked);
$checkradio-border-radius: var(--input-checkradio-border-radius);

$padding-vertical: var(--mobius-spacing-sm);
$padding-horizontal: var(--mobius-spacing-md);
$padding: $padding-vertical $padding-horizontal;
