:root {
  --input-background: var(--mobius-input-background);
  --input-background-focus: var(--mobius-input-background-focus);
  --input-background-disabled: var(--mobius-input-background-disabled);

  --input-border: var(--mobius-input-border);
  --input-border-hover: var(--mobius-input-border-hover);
  --input-border-focus: var(--mobius-input-border-focus);
  --input-border-radius: var(--mobius-input-border-radius);

  --input-color: var(--mobius-input-color);
  --input-color-disabled: var(--mobius-input-color-disabled);

  --input-checked: var(--mobius-input-checked);
  --input-checkradio-border-radius: var(
    --mobius-input-checkradio-border-radius
  );

  --input-padding-vertical: var(--mobius-input-padding-vertical);
  --input-padding-horizontal: var(--mobius-input-padding-horizontal);
  --input-padding: var(--mobius-input-padding);
}
