@use './spacing';

$background: var(--input-background);
$border: var(--input-border);
$border-hover: var(--input-border-hover);
$border-radius: 0.25em;

$color: var(--input-color);

$checked: var(--input-checked);
$checkradio-border-radius: var(--input-checkradio-border-radius);

$padding-vertical: spacing.$sm;
$padding-horizontal: spacing.$md;
$padding: $padding-vertical $padding-horizontal;
