@use 'sass:math';

$thumb: 2.75rem; // 44px

$md: 1rem; // 16px
$lg: $horizontal * 2;
$sm: math.div($horizontal, 2);
$xl: $horizontal * 4;
$xs: math.div($horizontal, 4);

$fluid: 5%;
$fluid-lg: $horizontal-fluid * 1.5;
$fluid-sm: $horizontal-fluid * 0.5;

$root: 5vw;
$root-lg: $horizontal-root * 1.5;
$root-sm: $horizontal-root * 0.5;
$root-xl: $horizontal-root * 2.25;
