@use 'sass:math';

$thumb: 2.75rem; // 44px

$md: 1rem; // 16px
$lg: $md * 2;
$sm: math.div($md, 2);
$xl: $md * 4;
$xs: math.div($md, 4);

$fluid: 5%;
$fluid-lg: $fluid * 1.5;
$fluid-sm: $fluid * 0.5;

$root: 5vw;
$root-lg: $root * 1.5;
$root-sm: $root * 0.5;
$root-xl: $root * 2.25;
