@use '../../../../styles/mixins/forms';
@use '../../../../styles/mixins/screen-reader';

.radio {
  --radio-dot-size: 10px; // This has to be px to avoid sub-px rendering issues

  @include forms.input;
  @include forms.input-padding;
  border-radius: var(--evg-input-checkradio-border-radius);
  cursor: pointer;

  &--checked {
    @include forms.checked;
  }

  &--disabled {
    @include forms.input-disabled;
  }

  &--valid {
    border-color: var(--evg-input-border);
  }

  &--valid.radio--checked {
    border-color: var(--evg-state-positive);
  }

  &__input {
    @include screen-reader.sr-only;
  }

  &__indicator {
    @include forms.indicator;
    border-radius: 100%;
  }

  &__dot {
    background: currentColor;
    border-radius: 100%;
    display: block;
    height: var(--radio-dot-size);
    opacity: 0;
    transform: scale(0.8);
    transition:
      opacity var(--evg-transition),
      transform var(--evg-transition-duration-boing)
        var(--evg-transition-timing-boing);
    width: var(--radio-dot-size);

    .radio--checked & {
      opacity: 1;
      transform: none;
    }
  }
}
