@use '../../../styles/variables/color';

.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &__content {
    background: color.$white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: auto;
    min-width: 8em;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-0.25em);
    transition:
      opacity var(--transition),
      transform var(--transition);
  }

  &--open {
    .dropdown__content {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }
}
