@use '../../../styles/variables/spacing';

evg-section {
  background: var(--evg-theme-background);
  color: var(--evg-theme-color);
  display: block;
  padding-block: var(--evg-spacing-md);

  @each $size in spacing.$sizes {
    &[padding='#{$size}'] {
      padding-block: var(--evg-spacing-#{$size});
    }
  }

  &[padding='none'] {
    padding-block: 0;
  }
}
