@use '../../../styles/variables/radius';
@use '../../../styles/variables/spacing';

evg-img {
  display: inline-block;

  &:has(evg-icon) {
    --evg-icon-size: 1em;
    --evg-icon-baseline-adjust: 0;
    background: var(--evg-color-forest-25);
    color: var(--evg-color-forest-75);
  }

  &[block],
  &[block] img,
  &[block] evg-loading-img {
    display: block;
  }

  &[responsive] {
    width: 100%;

    img,
    evg-loading-img {
      height: auto;
      width: 100%;
    }
  }

  &[radius] {
    overflow: hidden;
  }

  @each $size in radius.$sizes {
    &[radius='#{$size}'] {
      border-radius: var(--evg-radius-#{$size});
    }
  }

  &[aspect-ratio],
  &[aspect-ratio] img,
  &[aspect-ratio] evg-loading-img {
    aspect-ratio: var(--evg-img-aspect-ratio);
  }

  &[object-fit] img,
  &[object-fit] evg-loading-img {
    object-fit: var(--evg-img-object-fit);
  }

  &[object-position] img,
  &[object-position] evg-loading-img {
    object-position: var(--evg-img-object-position);
  }

  @each $size in spacing.$sizes {
    &[padding='#{$size}'] {
      padding: var(--evg-spacing-#{$size});
    }
  }
}
