.help-text {
  background-color: var(--evg-color-neutral-light);
  color: var(--evg-color-body);
  font-size: var(--evg-font-size-sm);
  margin-top: var(--evg-spacing-sm);
  padding: var(--evg-spacing-sm) var(--evg-spacing-md);

  &--positive {
    background: var(--evg-color-positive-light);
  }

  &--negative {
    background: var(--evg-color-negative-light);
  }
}
