@mixin skin($type) {
  --skin-background: var(--skin-background-#{$type});
  --skin-color: var(--skin-color-#{$type});
  --skin-heading-color: var(--skin-heading-color-#{$type});
  --skin-link-color: var(--skin-link-color-#{$type});
}

$skins: light, medium, dark, neutral, positive, negative, attention;

.skin {
  // Don't affect grid/flex layout
  display: contents;

  @each $skin in $skins {
    &--#{$skin} {
      @include skin($skin);
    }
  }
}
