@use '~@etchteam/mobius-tokens/dist/breakpoint';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  animation: spin 1s linear infinite;
  aspect-ratio: 1;
  border: calc(var(--mobius-font-size-xl) * 0.2) solid var(--mobius-color-earth);
  border-radius: 50%;
  border-top: calc(var(--mobius-font-size-xl) * 0.2) solid
    var(--mobius-color-forest);
  height: calc(var(--mobius-font-size-xl));

  @media screen and (min-width: breakpoint.$mobius-breakpoint-md) {
    height: calc(var(--mobius-font-size-xl) * 2);
  }
}
