@use '../../../styles/variables/color';
@use '../../../styles/variables/spacing';
@use '../../../styles/variables/transition';
@use '../../../styles/variables/input';
@use '../../../styles/mixins/forms';
@use '../../../styles/mixins/screen-reader';

.checkbox {
  align-items: center;
  cursor: pointer;
  width: 100%;

  + .checkbox {
    margin-top: spacing.$sm;
  }

  &__input {
    @include screen-reader.sr-only;
  }

  &__indicator {
    @include forms.indicator;
    align-self: flex-start;
    border-radius: 0.125em;

    .checkbox--checked & {
      background: currentColor;
    }
  }

  &__check {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity transition.$duration transition.$timing,
      transform transition.$duration-boing transition.$timing-boing;

    .checkbox--checked & {
      color: color.$white;
      opacity: 1;
      transform: none;
    }
  }

  &--type-default {
    display: flex;

    .checkbox__indicator {
      &:hover,
      &:focus-within {
        border-color: var(--input-border-hover);
      }

      &:focus-within {
        background: var(--input-background-focus);
      }
    }

    &.checkbox--invalid .checkbox__indicator {
      border-color: color.$negative;
    }

    &.checkbox--disabled {
      background: transparent;
    }
  }

  &--type-input {
    @include forms.input;
    @include forms.input-padding;
    border-radius: input.$checkradio-border-radius;
  }

  &--type-list {
    background: color.$white;
    border-radius: 0;

    + .checkbox {
      margin-top: -1px;
    }

    &:hover,
    &:focus-within {
      z-index: 1;
    }
  }

  &--checked {
    @include forms.checked;
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
