@use 'sass:map';
@use '../../../styles/variables/size';
@use '../../../styles/variables/spacing';

evg-wrapper {
  display: block;
  margin-inline: auto;
  max-width: 90em; /* 1440px */
  padding: 0 var(--evg-spacing-md);
  width: 100%;

  @each $key, $size in size.$map {
    $value: map.get($size, 'value');
    &[size='#{$key}'] {
      max-width: $value;
    }
  }

  &[size='auto'] {
    max-width: none;
  }

  @each $size in spacing.$sizes {
    &[gutter='#{$size}'] {
      padding-inline: var(--evg-spacing-#{$size});
    }
  }

  &[gutter='none'] {
    padding-inline: 0;
  }
}
