@use 'sass:math';
@use '../../../../styles/variables/font';

.badge {
  background: var(--evg-theme-background);
  border-radius: var(--evg-radius-xs);
  color: var(--evg-theme-color);
  display: inline-block;
  font-family: var(--evg-font-family-heading);
  font-size: var(--evg-font-size-body-xs);
  font-weight: var(--evg-font-weight-base);
  padding: var(--evg-spacing-4) var(--evg-spacing-12);
  text-transform: uppercase;

  &--muted {
    background: var(--evg-theme-background-muted);
    color: var(--evg-theme-color-muted);
  }

  &--inverse {
    background: var(--evg-theme-color);
    color: var(--evg-theme-background);

    &.badge--muted {
      background-color: var(--evg-theme-color-muted);
      color: var(--evg-theme-background-muted);
    }
  }

  &--size {
    @each $name, $size in font.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }
}
