@use 'sass:math';
@use '../../../../styles/variables/font';

.badge {
  background: var(--evg-theme-background);
  border-radius: var(--evg-radius-lg);
  color: var(--evg-theme-color);
  display: inline-block;
  font-weight: var(--evg-font-weight-bold);
  padding: var(--evg-spacing-sm) calc(var(--evg-spacing-sm) * 1.5);

  &--muted {
    background: var(--evg-theme-background-muted);
    color: var(--evg-theme-color-muted);
  }

  &--inverse {
    background: var(--evg-theme-color);
    color: var(--evg-theme-background);

    &.badge--muted {
      background-color: var(--evg-theme-color-muted);
      color: var(--evg-theme-background-muted);
    }
  }

  &--size {
    @each $name, $size in font.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }

  // This is obsolete now that all badges are rounded. TODO: Remove this
  &--rounded {
    border-radius: var(--evg-radius-lg);
  }
}
