@use '../../../styles/variables/breakpoint';
@use '../../../styles/variables/spacing';
@use '../../../styles/mixins/loading';
@use '../../../styles/mixins/button';

.loading-button {
  @include button.base;
  @include loading.pulse;

  &__text {
    visibility: hidden;
  }

  &--small {
    min-height: 2.25rem;
    min-width: 5.5rem;
    padding: calc(#{spacing.$vertical-xs} - var(--button-border-width))
      spacing.$horizontal-sm;
  }

  &--block {
    display: block;
    width: 100%;

    &-mobile {
      display: block;
      width: 100%;

      @media (min-width: breakpoint.$md) {
        display: inline-block;
        width: auto;
      }
    }
  }
}
