@use '../../../styles/mixins/forms';

.select {
  @include forms.input;
  cursor: pointer;

  &__select {
    @include forms.ninja-input;
    @include forms.input-padding;
    max-width: 100%;
    overflow: hidden;
    padding-right: calc(var(--spacing-thumb) + var(--input-padding-horizontal));
    text-overflow: ellipsis;

    &[disabled] {
      opacity: 1;
    }
  }

  &__affix {
    align-items: center;
    background: var(--input-background-disabled);
    border-left: 1px solid var(--input-border);
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
    bottom: 0;
    color: var(--skin-link-color);
    display: flex;
    font-size: var(--font-size-xl);
    justify-content: center;
    min-width: var(--spacing-thumb);
    padding: 0 var(--spacing-sm);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--disabled {
    @include forms.input-disabled;
  }

  &:focus-within {
    --input-outline-offset-focus: 1px;
  }
}
