@use '../../../styles/variables/color';
@use '../../../styles/variables/font';
@use '../../../styles/variables/input';
@use '../../../styles/variables/spacing';
@use '../../../styles/mixins/forms';

.select {
  @include forms.input;
  cursor: pointer;

  &__select {
    @include forms.ninja-input;
    @include forms.input-padding;
    max-width: 100%;
    overflow: hidden;
    padding-right: calc(#{spacing.$thumb} + #{input.$padding-horizontal});
    text-overflow: ellipsis;

    &[disabled] {
      opacity: 1;
    }
  }

  &__affix {
    align-items: center;
    background: var(--input-background);
    border-left: 1px solid var(--input-border);
    border-radius: 0 input.$border-radius input.$border-radius 0;
    bottom: 0;
    color: var(--skin-link-color);
    display: flex;
    font-size: font.$size-xl;
    justify-content: center;
    min-width: spacing.$thumb;
    padding: 0 spacing.$sm;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
