.collapse {
  &__button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &__collapsible {
    content-visibility: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows var(--mobius-transition),
      content-visibility var(--mobius-transition) allow-discrete;

    &--open {
      content-visibility: visible;
      grid-template-rows: 1fr;
    }
  }

  &__content {
    overflow: hidden;
  }

  &--padded {
    padding: var(--mobius-spacing-sm) var(--mobius-spacing-md);
  }

  &--text-decoration-none {
    .collapse__button:hover,
    .collapse__button:focus {
      text-decoration: none;
    }
  }
}
