@use '../../../styles/variables/transition';

.collapse {
  &__button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  &__collapsible {
    content-visibility: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows transition.$duration transition.$timing,
      content-visibility transition.$duration transition.$timing allow-discrete;

    &--open {
      content-visibility: visible;
      grid-template-rows: 1fr;
    }
  }

  &__content {
    overflow: hidden;
  }
}
