.collapse {
  &__button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  // Focusable elements inside a collapsed section must be hidden
  // https://dequeuniversity.com/rules/axe/4.1/aria-hidden-focus
  :not(span)[aria-hidden='true'] {
    [href],
    :not([disabled]) {
      display: none;
    }
  }
}
