@mixin base {
  appearance: none;
  border: var(--mobius-button-border-width) solid transparent;
  cursor: pointer;
  display: inline-block;
  line-height: 1.75;
  min-height: var(--mobius-spacing-thumb);
  min-width: 6.5em;
  padding: calc(var(--mobius-spacing-sm) - var(--mobius-button-border-width))
    var(--mobius-spacing-md);
  text-align: center;
  text-decoration: none;
  transition:
    background var(--mobius-transition),
    border-color var(--mobius-transition),
    color var(--mobius-transition),
    filter var(--mobius-transition);
  user-select: none;

  &:active {
    filter: brightness(0.85) saturate(1.025) contrast(1.5);
  }
}

@mixin default {
  @include base;
  background: var(--mobius-button-background);
  border-radius: var(--mobius-button-border-radius);
  color: var(--mobius-button-color);
  cursor: pointer;
  font-weight: var(--mobius-font-weight-bold);

  &:hover {
    background: var(--mobius-button-background-hover);
    color: var(--mobius-button-color-hover);
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    background: var(--mobius-button-background-focus);
    color: var(--mobius-button-color-focus);
  }
}
