@use '../variables/color';
@use '../variables/font';
@use '../variables/spacing';
@use '../variables/transition';

@mixin base {
  appearance: none;
  border: var(--button-border-width) solid transparent;
  cursor: pointer;
  display: inline-block;
  line-height: 1.75;
  min-height: spacing.$thumb;
  min-width: 6.5em;
  padding: calc(#{spacing.$vertical-sm} - var(--button-border-width)) spacing.$horizontal;
  text-align: center;
  text-decoration: none;
  transition: opacity transition.$duration transition.$timing,
    background transition.$duration transition.$timing,
    border-color transition.$duration transition.$timing;
  user-select: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin default {
  @include base;
  background: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  cursor: pointer;
  font-weight: font.$weight-bold;
}
