@mixin label() {
  align-items: center;
  color: var(--evg-theme-color);
  display: flex;
  font-size: var(--evg-font-size-body-sm);
  font-weight: var(--evg-font-weight-bold);
  min-height: var(--evg-spacing-thumb);
}
