@use '../variables/color';
@use '../variables/font';
@use '../variables/input';

@mixin input() {
  background: var(--input-background);
  border: 1px solid var(--input-border);
  border-radius: input.$border-radius;
  color: var(--input-color);
  display: flex;
  line-height: 1.75;
  position: relative;
  transition:
    border-color var(--mobius-transition),
    background-color var(--mobius-transition);

  &:hover,
  &:focus-within {
    border-color: var(--input-border-hover);
  }

  &:focus-within {
    background: var(--input-background-focus);
    outline-color: var(
      --input-outline-color-focus-webkit,
      --input-outline-color-focus
    );
    outline-offset: var(--input-outline-offset-focus);
    outline-style: var(--input-outline-style-focus);
    outline-width: var(--input-outline-width-focus);
  }

  &--valid {
    border-color: color.$positive;
  }

  &--invalid {
    border-color: color.$negative;
  }

  &--pending,
  &--approved,
  &--declined {
    &::before {
      border-bottom-left-radius: input.$border-radius;
      border-top-left-radius: input.$border-radius;
    }
  }
}

@mixin input-disabled() {
  background: input.$background;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

// It's there but you can't see it
// We are using the wrapper for the styling so it can be reused
// on different elements
@mixin ninja-input() {
  appearance: none;
  background: none;
  border: 0 none;
  color: inherit;
  display: block;
  line-height: font.$line-height;
  width: 100%;

  &:focus {
    outline: none;
  }
}

@mixin input-padding() {
  min-height: var(--mobius-spacing-thumb);
  padding: input.$padding;
}

// Radios/checkboxes
@mixin checked() {
  background: color.$white;
  color: input.$checked;
}

@mixin indicator() {
  align-items: center;
  border: 2px solid currentColor;
  display: inline-flex;
  flex-shrink: 0;
  height: font.$size-lg;
  justify-content: center;
  margin-right: var(--mobius-spacing-sm);
  margin-top: var(--mobius-spacing-xs);
  position: relative;
  transition:
    background var(--mobius-transition),
    border-color var(--mobius-transition),
    color var(--mobius-transition);
  width: font.$size-lg;
}

@mixin label() {
  align-items: center;
  color: color.$blue-darkest;
  display: flex;
  font-size: font.$size-base;
  font-weight: font.$weight-bold;
  min-height: var(--mobius-spacing-thumb);
}
