@use '../variables/color';
@use '../variables/font';

@mixin input() {
  background: var(--input-background);
  border: 1px solid var(--input-border);
  border-radius: var(--input-border-radius);
  color: var(--input-color);
  display: flex;
  line-height: 1.75;
  position: relative;
  transition:
    border-color var(--transition),
    background-color var(--transition);

  &:hover {
    border-color: var(--input-border-hover);
  }

  &:focus-within {
    background: var(--input-background-focus);
    border-color: var(--input-border-focus);
    outline-color: var(
      --input-outline-color-focus-webkit,
      --input-outline-color-focus
    );
    outline-offset: var(--input-outline-offset-focus);
    outline-style: var(--input-outline-style-focus);
    outline-width: var(--input-outline-width-focus);
  }

  &--valid {
    border-color: var(--color-positive);
  }

  &--invalid {
    border-color: var(--color-negative);
  }

  &--pending,
  &--approved,
  &--declined {
    &::before {
      border-bottom-left-radius: var(--input-border-radius);
      border-top-left-radius: var(--input-border-radius);
    }
  }
}

@mixin input-disabled() {
  background: var(--input-background-disabled);
  color: var(--input-color-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

// It's there but you can't see it
// We are using the wrapper for the styling so it can be reused
// on different elements
@mixin ninja-input() {
  appearance: none;
  background: none;
  border: 0 none;
  color: inherit;
  display: block;
  line-height: font.$line-height;
  width: 100%;

  &:focus {
    outline: none;
  }
}

@mixin input-padding() {
  min-height: var(--spacing-thumb);
  padding: var(--input-padding);
}

// Radios/checkboxes
@mixin checked() {
  background: var(--color-white);
  color: var(--input-checked);
}

@mixin indicator() {
  align-items: center;
  border: 2px solid currentColor;
  display: inline-flex;
  flex-shrink: 0;
  height: font.$size-lg;
  justify-content: center;
  margin-right: var(--spacing-sm);
  margin-top: var(--spacing-xs);
  position: relative;
  transition:
    background var(--transition),
    border-color var(--transition),
    color var(--transition);
  width: font.$size-lg;
}

@mixin label() {
  align-items: center;
  color: var(--skin-color);
  display: flex;
  font-size: font.$size-base;
  font-weight: font.$weight-bold;
  min-height: var(--spacing-thumb);
}
