@mixin default() {
  --list-spacing: var(--evg-spacing-md);
  list-style: none;
  margin: calc(var(--list-spacing) * -1) 0;
  padding: 0;
}

@mixin item() {
  display: flex;
  padding: var(--list-spacing) 0;

  &-icon {
    margin-right: var(--evg-spacing-sm);
  }

  &-content {
    flex: 1 1 auto;
  }
}
