@mixin pulse {
  overflow: hidden;
  pointer-events: none;
  position: relative;
  user-select: none;

  &::before {
    background-color: var(--theme-color);
    content: '';
    inset: 0;
    opacity: 0.075;
    position: absolute;
  }

  &::after {
    animation: loading-skeleton-shimmer 1.2s infinite;
    background-image: linear-gradient(
      to right,
      transparent 0,
      var(--theme-background) 60%,
      transparent
    );
    content: '';
    inset: 0;
    opacity: 0.5;
    position: absolute;
    transform: translateX(-100%);
  }

  @keyframes loading-skeleton-shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
