@use '../variables/color';
@use '../variables/input';
@use '../variables/spacing';

@mixin status() {
  position: relative;

  &--PENDING,
  &--LIVE,
  &--REJECTED,
  &--REMOVAL_PENDING,
  &--REMOVAL_APPROVED {
    padding-left: spacing.$horizontal-sm;

    &::before {
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: spacing.$horizontal-sm;
    }
  }

  &--PENDING::before,
  &--REMOVAL_PENDING::before {
    background: color.$yellow;
  }

  &--LIVE::before {
    background: color.$positive;
  }

  &--REJECTED::before,
  &--REMOVAL_APPROVED::before {
    background: color.$negative;
  }
}
