@mixin theme($type) {
  --evg-theme-background: var(--evg-theme-background-#{$type});
  --evg-theme-color: var(--evg-theme-color-#{$type});
  --evg-theme-heading-color: var(--evg-theme-heading-color-#{$type});
  --evg-theme-link-color: var(--evg-theme-link-color-#{$type});
}
