@mixin theme($type) {
  --evg-skin-background: var(--evg-skin-background-#{$type});
  --evg-skin-background-muted: var(--evg-skin-background-muted-#{$type});
  --evg-skin-border-color: var(--evg-skin-border-color-#{$type});
  --evg-skin-border-color-muted: var(--evg-skin-border-color-muted-#{$type});
  --evg-skin-color: var(--evg-skin-color-#{$type});
  --evg-skin-color-muted: var(--evg-skin-color-muted-#{$type});
  --evg-skin-heading-color: var(--evg-skin-heading-color-#{$type});
  --evg-skin-link-color: var(--evg-skin-link-color-#{$type});
  --evg-skin-link-text-decoration: var(
    --evg-skin-link-text-decoration-#{$type}
  );
  --evg-skin-link-text-decoration-hover: var(
    --evg-skin-link-text-decoration-hover-#{$type}
  );
}
