@mixin title {
  color: var(--evg-theme-heading-color);
  font-weight: var(--evg-font-weight-bold);
  line-height: var(--evg-font-line-height-sm);
  margin: 0;

  b,
  strong {
    font-weight: var(--evg-font-weight-black);
  }
}
