@mixin title {
  color: var(--skin-heading-color);
  font-weight: var(--heading-font-weight, 700);
  letter-spacing: -0.025em;
  line-height: var(--font-line-height-sm);
  margin-bottom: var(--spacing-xs);
  margin-top: 0;

  b,
  strong {
    font-weight: var(--font-weight-black);
  }
}
