@use 'sass:math';
@use '../../../styles/variables/font';

.badge {
  background: var(--skin-background);
  border-radius: var(--radius-lg);
  color: var(--skin-color);
  display: inline-block;
  padding: calc(var(--spacing-xs) / 2) var(--spacing-sm);

  &--muted {
    background: var(--skin-background-muted);
    color: var(--skin-color-muted);
  }

  &--inverse {
    background: var(--skin-color);
    color: var(--skin-background);

    &.badge--muted {
      background-color: var(--skin-color-muted);
      color: var(--skin-background-muted);
    }
  }

  &--size {
    @each $name, $size in font.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }

  // This is obsolete now that all badges are rounded. TODO: Remove this
  &--rounded {
    border-radius: var(--input-border-radius);
  }
}
