@use 'sass:math';
@use '../../../styles/variables/font';
@use '../../../styles/variables/spacing';
@use '../../../styles/variables/input';

.badge {
  background: var(--skin-background);
  color: var(--skin-color);
  display: inline-block;
  padding: (math.div(spacing.$xs, 2)) spacing.$sm;

  &--muted {
    background: var(--skin-background-muted);
    color: var(--skin-color-muted);
  }

  &--inverse {
    background: var(--skin-color);
    color: var(--skin-background);

    &.badge--muted {
      background-color: var(--skin-color-muted);
      color: var(--skin-background-muted);
    }
  }

  &--size {
    @each $name, $size in font.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }

  &--rounded {
    border-radius: input.$border-radius;
  }
}
