evg-badge {
  --_background: var(--evg-color-forest-25);
  --_color: var(--evg-color-forest);

  background: var(--_background);
  border-radius: var(--evg-radius-xs);
  color: var(--_color);
  display: inline-block;
  font-family: var(--evg-font-family-heading);
  font-size: var(--evg-font-size-body-xs);
  font-weight: var(--evg-font-weight-base);
  padding: var(--evg-spacing-xs) var(--evg-spacing-sm);
  text-transform: uppercase;

  &[variant='forest'] {
    --_background: var(--evg-color-forest-75);
    --_color: var(--evg-color-cloud);
  }

  &[variant='forest-light'] {
    --_background: var(--evg-color-forest-25);
  }

  &[variant='earth'] {
    --_background: var(--evg-color-earth-75);
  }

  &[variant='sand'] {
    --_background: var(--evg-color-sand);
  }

  &[variant='sky'] {
    --_background: var(--evg-color-sky);
  }

  &[variant='sky-light'] {
    --_background: var(--evg-color-sky-50);
  }

  &[variant='lime'] {
    --_background: var(--evg-color-lime);
  }

  &[variant='lime-light'] {
    --_background: var(--evg-color-lime-50);
  }

  &[variant='rose'] {
    --_background: var(--evg-color-rose-75);
  }

  &[variant='rose-light'] {
    --_background: var(--evg-color-rose-25);
  }

  &[variant='orange'] {
    --_background: var(--evg-color-orange);
  }

  &[variant='lemon'] {
    --_background: var(--evg-color-lemon);
  }

  &[variant='violet'] {
    --_background: var(--evg-color-violet);
    --_color: var(--evg-color-cloud);
  }

  &[variant='lilac'] {
    --_background: var(--evg-color-lilac);
  }

  &[variant='coal'] {
    --_background: var(--evg-color-coal);
    --_color: var(--evg-color-cloud);
  }
}
