@use 'sass:math';
@use '../../../styles/variables/font';
@use '../../../styles/variables/spacing';
@use '../../../styles/variables/input';
@use '../../../styles/variables/skin';

.badge {
  background: skin.$background;
  color: skin.$color;
  display: inline-block;
  padding: (math.div(spacing.$vertical-xs, 2)) spacing.$horizontal-sm;

  &--muted {
    background: skin.$background-muted;
    color: skin.$color-muted;
  }

  &--inverse {
    background: skin.$color;
    color: skin.$background;

    &.badge--muted {
      background-color: skin.$color-muted;
      color: skin.$background-muted;
    }
  }

  &--size {
    @each $name, $size in font.$sizes {
      &-#{$name} {
        font-size: $size;
      }
    }
  }

  &--rounded {
    border-radius: input.$border-radius;
  }
}
