@use '../../../styles/variables/font';
@use '../../../styles/variables/spacing';

.longform {
  h1 {
    margin-bottom: spacing.$lg;
  }

  h2 {
    margin-bottom: spacing.$md;
  }

  h3,
  h4,
  h5 {
    margin-bottom: spacing.$sm;
  }

  p,
  ul,
  ol {
    margin-bottom: spacing.$md;
  }

  ul,
  ol {
    padding-left: font.$line-height * 1rem;
  }

  li {
    margin-bottom: spacing.$sm;

    p:last-child {
      margin-bottom: 0;
    }
  }

  p +,
  ul +,
  ol + {
    h2,
    h3,
    h4,
    h5 {
      margin-top: spacing.$lg;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  table,
  img {
    margin: spacing.$lg 0;
  }
}
