@use '../../../styles/variables/font';

.longform {
  h1 {
    margin-bottom: var(--mobius-spacing-lg);
  }

  h2 {
    margin-bottom: var(--mobius-spacing-md);
  }

  h3,
  h4,
  h5 {
    margin-bottom: var(--mobius-spacing-sm);
  }

  p,
  ul,
  ol {
    margin-bottom: var(--mobius-spacing-md);
  }

  ul,
  ol {
    padding-left: font.$line-height * 1rem;
  }

  li {
    margin-bottom: var(--mobius-spacing-sm);

    p:last-child {
      margin-bottom: 0;
    }
  }

  p +,
  ul +,
  ol + {
    h2,
    h3,
    h4,
    h5 {
      margin-top: var(--mobius-spacing-lg);
    }
  }

  a:hover {
    text-decoration: underline;
  }

  table,
  img {
    margin: var(--mobius-spacing-lg) 0;
  }
}
