.alert {
  background: var(--evg-skin-background);
  border-radius: var(--evg-radius-md);
  color: var(--evg-skin-color);
  padding: var(--evg-spacing-md);

  &__close {
    background: none;
    border: 0 none;
    color: inherit;
    cursor: pointer;
    float: right;
  }
}
