@use '../../../../styles/mixins/forms';

.input {
  @include forms.input;

  &__prefix,
  &__suffix {
    align-self: center;
    font-weight: var(--evg-font-weight-bold);
    line-height: var(--evg-font-line-height);
  }

  &__prefix {
    margin-right: calc(var(--evg-input-padding-horizontal) / -2);
    padding: 0 0 0 var(--evg-input-padding-horizontal);
  }

  &__suffix {
    margin-left: calc(var(--evg-input-padding-horizontal) / -2);
    padding: 0 var(--evg-input-padding-horizontal) 0 0;
  }

  &__input {
    @include forms.ninja-input;
    @include forms.input-padding;
  }

  &--disabled {
    @include forms.input-disabled;
  }
}
