* {
  box-sizing: border-box;
}

html {
  overscroll-behavior-y: none;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--evg-theme-background-sand);
  color: var(--evg-theme-color);
  margin: 0;
  min-width: 20em;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0 none;
  border-bottom: 1px solid var(--evg-theme-border-color);
}
