@use '../variables/font';
@use '../variables/color';
@use '../variables/skin';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: skin.$background-muted;
  color: skin.$color;
  margin: 0;
  min-width: 20em;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0 none;
  border-bottom: 1px solid color.$blue-light;
}
