* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--theme-background-muted);
  color: var(--theme-color);
  margin: 0;
  min-width: 20em;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0 none;
  border-bottom: 1px solid var(--theme-border-color);
}
