:root {
  $skins: light, dark, info, neutral, positive, negative, attention;

  @each $skin in $skins {
    --skin-background-#{$skin}: var(--mobius-skin-background-#{$skin});
    --skin-background-muted-#{$skin}: var(
      --mobius-skin-background-muted-#{$skin}
    );
    --skin-border-color-#{$skin}: var(--mobius-skin-border-color-#{$skin});
    --skin-color-#{$skin}: var(--mobius-skin-color-#{$skin});
    --skin-color-muted-#{$skin}: var(--mobius-skin-color-muted-#{$skin});
    --skin-heading-color-#{$skin}: var(--mobius-skin-heading-color-#{$skin});
    --skin-link-color-#{$skin}: var(--mobius-skin-link-color-#{$skin});
    --skin-link-text-decoration-#{$skin}: var(
      --mobius-skin-link-text-decoration-#{$skin}
    );
    --skin-link-text-decoration-hover-#{$skin}: var(
      --mobius-skin-link-text-decoration-hover-#{$skin}
    );
  }

  --skin-background: var(--skin-background-light);
  --skin-background-muted: var(--skin-background-muted-light);
  --skin-border-color: var(--skin-border-color-light);
  --skin-color: var(--skin-color-light);
  --skin-color-muted: var(--skin-color-muted-light);
  --skin-heading-color: var(--skin-heading-color-light);
  --skin-link-color: var(--skin-link-color-light);
  --skin-link-text-decoration: var(--skin-link-text-decoration-light);
  --skin-link-text-decoration-hover: var(
    --skin-link-text-decoration-hover-light
  );
}
