@use '../variables/color';
@use '../variables/font';
@use '../variables/spacing';
@use '../variables/skin';
@use '../mixins/title';

body {
  font-family: font.$family;
  font-size: font.$size-base;
  -webkit-font-smoothing: antialiased;
  line-height: font.$line-height;
}

h1,
h2,
h3,
h4 {
  @include title.title;
}

h1 {
  font-size: font.$size-h1;
  font-weight: font.$weight-black;
}

h2 {
  font-size: font.$size-h2;
}

h3 {
  font-size: font.$size-h3;
}

h4 {
  font-size: font.$size-h4;
}

p {
  line-height: font.$line-height-lg;
  margin-bottom: spacing.$vertical-sm;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0; // Gonna bite me?
  }
}

a {
  color: skin.$link-color;
  text-decoration: none;
}

b,
strong,
th {
  font-weight: font.$weight-bold;
}
