@use '../mixins/title';

:root {
  --link-font-weight: inherit;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: var(--font-line-height);
}

h1,
h2,
h3,
h4 {
  @include title.title;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-black);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p {
  line-height: var(--font-line-height-lg);
  margin-bottom: var(--spacing-sm);
  margin-top: 0;

  &:last-child {
    margin-bottom: 0; // Gonna bite me?
  }
}

a {
  color: var(--skin-link-color);
  font-weight: var(--link-font-weight);
  text-decoration: var(--skin-link-text-decoration);

  &:hover {
    text-decoration: var(--skin-link-text-decoration-hover);
  }
}

b,
strong,
th {
  font-weight: var(--font-weight-bold);
}
