@use '../mixins/title';

:root {
  --link-font-weight: inherit;
}

body {
  font-family: var(--evg-font-family);
  font-size: var(--evg-font-size-body-md);
  -webkit-font-smoothing: antialiased;
  line-height: var(--evg-font-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title.title;
}

h1,
h2,
h3,
h4 {
  font-family: var(--evg-font-family-heading);
}

h1 {
  font-size: var(--evg-font-size-heading-xl);
  font-weight: var(--evg-font-weight-black);
}

h2 {
  font-size: var(--evg-font-size-heading-lg);
}

h3 {
  font-size: var(--evg-font-size-heading-md);
}

h4 {
  font-size: var(--evg-font-size-heading-sm);
}

h5 {
  font-size: var(--evg-font-size-heading-xs);
}

h6 {
  font-size: var(--evg-font-size-heading-xxs);
}

p {
  line-height: var(--evg-font-line-height-lg);
  margin-bottom: var(--evg-spacing-md);
  margin-top: 0;

  &:last-child {
    margin-bottom: 0; // Gonna bite me?
  }
}

a {
  color: var(--evg-theme-link-color);
  font-weight: var(--link-font-weight);
  text-decoration: none;
}

b,
strong,
th {
  font-weight: var(--evg-font-weight-bold);
}
