@use '../../../styles/mixins/button';
@use '~@etchteam/mobius-tokens/dist/breakpoint';

.button {
  $types: primary, secondary, positive, negative;
  @include button.default;
  border-color: var(--mobius-button-border-color);

  &:hover {
    border-color: var(--mobius-button-border-color-hover);
  }

  &:focus {
    border-color: var(--mobius-button-border-color-focus);
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &--loading,
  &[disabled] {
    background: var(--mobius-button-background-disabled);
    border-color: var(--mobius-button-border-color-disabled);
    color: var(--mobius-button-color-disabled);
    pointer-events: none;
  }

  &--icon {
    aspect-ratio: 1;
    line-height: var(--mobius-font-line-height);
    min-height: 0;
    min-width: 0;
    padding: var(--mobius-spacing-xs) var(--mobius-spacing-sm);
  }

  &--block {
    display: block;
    width: 100%;

    &-mobile {
      display: block;
      width: 100%;

      @media (min-width: breakpoint.$mobius-breakpoint-md) {
        display: inline-block;
        width: auto;
      }
    }
  }

  &--small {
    min-height: 2.25rem;
    min-width: 5.5rem;
    padding: calc(var(--mobius-spacing-xs) - var(--mobius-button-border-width))
      var(--mobius-spacing-sm);
  }

  @each $type in $types {
    &--#{$type} {
      background: var(--mobius-button-background-#{$type});
      border-color: var(--mobius-button-border-color-#{$type});
      color: var(--mobius-button-color-#{$type});

      &:hover {
        background: var(--mobius-button-background-hover-#{$type});
        border-color: var(--mobius-button-border-color-hover-#{$type});
        color: var(--mobius-button-color-hover-#{$type});
      }

      &:focus-within {
        background: var(--mobius-button-background-focus-#{$type});
        border-color: var(--mobius-button-border-color-focus-#{$type});
        color: var(--mobius-button-color-focus-#{$type});
      }

      &.button--loading,
      &[disabled] {
        background: var(--mobius-button-background-disabled-#{$type});
        border-color: var(--mobius-button-border-color-disabled-#{$type});
        color: var(--mobius-button-color-disabled-#{$type});
      }
    }
  }
}
