@use 'sass:color' as sassColor;
@use '../../../styles/variables/breakpoint';
@use '../../../styles/variables/color';
@use '../../../styles/variables/font';
@use '../../../styles/variables/spacing';
@use '../../../styles/mixins/button';

.button {
  $types: primary, secondary, positive, negative;
  @include button.default;
  border-color: var(--button-border-color);

  &:active {
    position: relative;
    top: 1px;
  }

  &--loading,
  &[disabled] {
    filter: grayscale(0.5);
    opacity: 0.75;
    pointer-events: none;
  }

  &--icon {
    aspect-ratio: 1;
    line-height: font.$line-height;
    min-height: 0;
    min-width: 0;
    padding: spacing.$xs spacing.$sm;
  }

  &--block {
    display: block;
    width: 100%;

    &-mobile {
      display: block;
      width: 100%;

      @media (min-width: breakpoint.$md) {
        display: inline-block;
        width: auto;
      }
    }
  }

  &--small {
    min-height: 2.25rem;
    min-width: 5.5rem;
    padding: calc(#{spacing.$xs} - var(--button-border-width)) spacing.$sm;
  }

  @each $type in $types {
    &--#{$type} {
      background: var(--button-background-#{$type});
      border-color: var(--button-border-color-#{$type});
      color: var(--button-color-#{$type});
    }
  }
}
