@use '../../../styles/variables/spacing';

evg-row {
  --evg-row-gap: var(--evg-spacing-md);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--evg-row-gap);

  /* gap */
  @each $size in spacing.$sizes {
    &[gap='#{$size}'] {
      --evg-row-gap: var(--evg-spacing-#{$size});
    }
  }

  &[gap='none'] {
    --evg-row-gap: 0;
  }
}
